
/target/www/**
/src/test/javascript/coverage/

.buildpath

.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

/log/
/target/
target/

*.jar
*.war
*.ear
*.db

Thumbs.db

Desktop.ini

._*

.Spotlight-V100
.Trashes

/bin/
/deploy/


*.log*

*.class
*.*~
*~
.merge_file*

!.mvn/wrapper/maven-wrapper.jar

Testi/*
Testi2/*
